{
    "extends": "airbnb-base",
    "globals": {
        "App": true,
        "wx": true,
        "getApp": true,
        "getCurrentPages": true,
        "Page": true,
        "global": true
    },
    "rules": {
        "indent": ["error", 4],
        "func-names": ["error", "as-needed"],
        "no-param-reassign": ["error", {
            "props": false
        }],
        "max-len": ["error", {
            "code": 200
        }],
        "no-underscore-dangle": "off",
        "import/no-named-as-default": 0
    },
    "parser": "babel-eslint"
}