{
    "root": true,
    "extends": ["airbnb-base", "airbnb-typescript/base"],
    "parser": "@typescript-eslint/parser",
    "globals": {
        "App": true,
        "wx": true,
        "getApp": true,
        "getCurrentPages": true,
        "Page": true,
        "global": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "strict": true
        },
        "project": "./tsconfig.json"
    },
    "rules": {
        "indent": ["error", 2],
        "func-names": ["error", "as-needed"],
        "no-param-reassign": ["error", {
            "props": false
        }],
        "max-len": ["error", {
            "code": 200
        }],
        "no-underscore-dangle": "off",
        "import/no-named-as-default": 0,
        "arrow-parens": "off"
    }
}